.faq {
  // .faq__container
  &__container {
    padding: 170px 0;
    @media (max-width: $md3+px) {
      padding: 50px 0;
    }
  }
  // .faq__header
  &__header {
    text-align: center;
  }
  // .faq__title
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
    @media (max-width: $md3+px) {
      margin: 15px 0;
      font-size: 27px;
      line-height: 25px;
    }
  }
  // .faq__content
  &__content {
    padding: 0 70px;
    margin-top: 100px;
    @media (max-width: $md3+px) {
      margin-top: 60px;
      padding: 0 10px;
    }
  }
  // .faq__accordion
  &__accordion {
    padding: 0 30px;
    padding-top: 0;
    margin-top: 20px;
    border-bottom: 1px solid #8e96b7;
    @media (max-width: $md3+px) {
      padding: 0 10px;
      margin-top: 10px;
    }
  }
}

.accordion {
  // .accordion__header
  &__header {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #8E96B7;
    @media (max-width: $md3+px) {
      margin-bottom: 10px;
    }
  }
  // .accordion__title
  &__title {
    cursor: pointer;
    padding: 12px 0;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    color: #8E96B7;
    margin: 0;
    transition: 0.4s;
    &::before {
      content: "";
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 20px;
      border-right: 3px solid #8E96B7;
      border-bottom: 3px solid #8E96B7;
      transition: 0.4s;
      transform-origin: 70% 70%;
      transform: rotate(45deg);
    }
    @media (max-width: $md3+px) {
      font-weight: 500;
    }
    &_active {
      color: #495274;
      &::before {
        border-right: 3px solid #495274;
        border-bottom: 3px solid #495274;
        transform: rotate(-135deg);
      }
    }
  }
  // .accordion__body
  &__body {
    height: 0;
    overflow: hidden;
    //transition: 0.4s;   
    &_active {
      height: auto;
      padding-bottom: 30px;
      margin-left: 60px;
      display: flex;
      flex-direction: row;
      @media (max-width: $md3+px) {
        margin-left: 10px;
        flex-direction: column;
      }
    }
  }
  // .accordion__text
  &__text {
    margin-top: 0;
    @media (min-width: $md3+px) {
      margin-bottom: 0;
    }
  }
  // .accordion__btn
  &__btn {
    flex-shrink: 0;
    align-self: flex-start;
    margin-left: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #7382A3;
    padding: 15px 20px;
    background: #E8ECF4;
    border-radius: 2px;
    transition: 0.3s;
    &:hover {
      background: #d3d6db;
    }
    @media (max-width: $md3+px) {
      margin-left: 0;
    }
  }
}
