@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.woff?psy136') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\e900";
  /*color: #b6bac7;*/
}
.icon-atlassian:before {
  content: "\e904";
}
.icon-audi:before {
  content: "\e905";
}
.icon-bitbucket:before {
  content: "\e906";
}
.icon-apple-watch:before {
  content: "\e907";
}
.icon-facebook-logo:before {
  content: "\e908";
}
.icon-m:before {
  content: "\e901";
}
.icon-telegram:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
